# See https://git-scm.com/docs/gitattributes for more about git attribute files.

db/schema.rb linguist-generated
rbs_collection.lock.yaml linguist-generated
sig/rbs_rails/**/* linguist-generated
vendor/* linguist-vendored
