<h1><%= @user.name %>様</h1>
<!--TODO 予約日から２日以内の貸出予約の場合、その日付が表示されるように条件分岐させる-->
<!--例）本の貸出前日のご案内です-->
<p><strong>本の貸出３日前のご案内です</strong></p>
<div>
  <p>
    予約した本の詳細
  </p>
  <ul>
    <li>タイトル : 『 <%= @book.title %> 』</li>
    <!--  TODO 曜日の表記を日本語にしたい-->
    <li>貸出日 : <%= @reservation.reservation_at.strftime('%Y年%-m月%-d日(%a)') %></li>
</ul>
</div>

