<% @requests.each do |request| %>
    <ul class="flex border">
        <li>
            <%#= request.isbn class: 'flex' %>
            <%= request.title %>
            <%= request.author %>
            <% if request.status == true %>
              <%= button_to '購入した', toggle_admin_request_path(request), method: :post, class: "shadow-lg bg-yellow-500 shadow-yellow-500/50 text-white rounded px-2 py-1" %>
            <% else %>
              <p><span class="shadow-lg bg-sky-500 shadow-sky-500/50 text-white rounded px-2 py-1">購入済み</span></p>
            <% end %>
        </li>

    </ul>
<% end %>