<% @requests.each do |request| %>
    <ul class="flex border">
        <li>
            <%#= request.isbn class: 'flex' %>
            <%= request.title %>
            <%= request.author %>
        </li>
    </ul>
<% end %>

 <script>${script}</script>

<script>
 // html に変換して表示用 DOM に代入
    var texts = items.map(item => {
      return `
        <img class='w100 object-fit-contain bg-gray' src='${item.image}' />
        `;
    });
    $results.innerHTML = texts.join('');

    // 必要なものだけ抜き出してわかりやすいフォーマットに変更する
  var items = data.items.map(item => {
    var vi = item.volumeInfo;
    return {
      image: vi.imageLinks ? vi.imageLinks.smallThumbnail : '',
    };
  });
  
  return items;
  </script>